<div class="title">
<h1>당신의 행운을 시험해보아요!</h1>
</div>

<div class="My_number">
<h2>환영합니다. 당신의 행운번호는 <%=@lucky_numbers%>입니다.</h2>
</div>

<div class="result_index">
<a href='/answer'>801회 로또번호 확인하기</a>
<!--#이곳에 로또번호 확인, 대조, 등수결과 출력될 것.-->
</div>